<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        [text]="text"
        [color]="color"
      ></ion-back-button>
    </ion-buttons>

    <ion-title
      class="ion-text-capitalize"
    >{{ title }}</ion-title>

    <app-avatar slot="end"></app-avatar>

    <ion-buttons
      *ngIf="heartButtonCondition === true" 
      slot="start" 
      slot="secondary"
    >
      <ion-button (click)="heartButtonClick()" color="danger">
        <ion-icon 
          slot="icon-only" 
          [name]=" favorito ? 'heart' : 'heart-outline'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>