<ion-header class="ion-no-border">
  <ion-toolbar
    color="dark"
  >
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>

  <ion-segment 
    scrollable 
    (ionChange)="changeCategory( $event )"
    value="general"
    >
    <ion-segment-button 
      *ngFor="let category of categories"
      [value]=category
    >
      <ion-label text-capitalize>{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  
</ion-header>

<ion-content 
  color="dark"
>

  <app-news
    [news]="newsByCategory"
  ></app-news>

  <ion-infinite-scroll
  threshold="10%"
  position="bottom"
  (ionInfinite)="loadInfiniteData($event)"
>
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data..."
  >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
