<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-slides
  [options]="sliderOpts" 
    *ngIf="saveLocalDataService.news.length === 0"
  >
    <ion-slide>

      <h2>Awesome Slide Content</h2>

    </ion-slide>
  </ion-slides>

  <app-news
    *ngIf="saveLocalDataService.news.length > 0"
    [onFavTab]="true"
    [news]="saveLocalDataService.news"
  ></app-news>

</ion-content>
